#articlebanner{
    height: 200px;
}

.headerdiv, .headerdiv *{
    font-style: italic;
    display: inline;
}

/* li::marker{
    content: none;
} when li is set to inline, it loses its bullt points automatically*/